extends layout
block head
  include partials/templates/head.jade
  script(src='/javascripts/jquery-2.1.4.min.js')
  script(src='/javascripts/creatorscript.js')
block header
  //- section left intentionally blank to avoid display of header that leads nowhere
block content
  h1 Assassins.ga
  if (error !== null)
    if (error === 'email_in_use')
      p#problem Sorry! The email address you entered is already linked to a game in progress. Please use another, or wait until your current game is over. Thanks!
    else if (error === 'not_an_email')
      include partials/content/notanemailproblem.jade
    else if (error === 'invalid_minimum_player_count')
      p#problem Sorry! The number of minimum players you entered is invalid.
    else if (error === 'invalid_maximum_player_count')
      p#problem Sorry! The number of maximum players you entered is invalid.
    else if (error === 'invalid_countdown_length')
      p#problem Sorry! The countdown you entered is invalid.
    else
      include partials/content/unknownproblem.jade
  if (new_game_id !== null)
    include partials/content/gameiddisplay.jade
  else if (new_game_id === null)
    // This above if statement is just to check that when this is first being accessed, the variable will be recognized as being null.
    h3 Create a Game
    include partials/content/newgameform.jade
