extends layout
block head
  include partials/templates/head.jade
block header
  //- section left intentionally blank to avoid display of header that leads nowhere
block content
  h1= title
  if (error !== null)
    if (error === 'email_in_use')
      p#problem Sorry! The email address you entered is already linked to a game in progress. Please use another, or wait until your current game is over. Thanks!
    else
      include partials/content/unknownproblem.jade
  if (new_game_id !== null)
    include partials/content/gameiddisplay.jade
  else if (new_game_id === null)
    // This above if statement is just to check that when this is first being accessed, the variable will be recognized as being null.
    h3 Create a Game
    include partials/content/newgameform.jade
