extends on
block content                                                                                                                  
  h1= title
  if (error === 'not_found')
    include partials/content/notfoundproblem.jade
  if (target_name)
    h3 Target name:
    h3= target_name
    h3 Target killword:
    h3= target_killword
  else
    include partials/content/querydb.jade
