extends layout
block nav
  if game_status === 'on'
    include partials/templates/on_nav.jade
  else if game_status === 'off'
    include partials/templates/off_nav.jade
block header
  if game_status === 'on'
    include partials/templates/on_header.jade
  else if game_status === 'off'
    include partials/templates/off_header.jade
  else if game_status === 'over'
    include partials/templates/over_header.jade
block content
  if game_status === 'over'
    h1= winner_name + ' is the winner!'
  else
    h1 Welcome to Assassins!
    p.tips The rules are simple.
    p 1. You're an assassin.
    p 2. When the game begins, you'll be given a target to kill.
    p 3. Every other player has a target as well. Even you are someone else's target.
    p 4. When you kill someone, their target becomes your new target.
    p 5. If you're the last one alive, you win!
    p.tips You can kill targets a number of ways.
    p 1. Throwing a balled-up sock at them
    p 2. Poking them with a spoon
    p 3. Getting them to eat food you've spiked with hot sauce ("poison")
    p 4. Hearing them or making them say their "kill word" in your presence
    p 5. Getting them to reveal a piece of paper with the word "bomb" and their name written on it
    p.tips There are a few precautions you can take to evade death.
    p 1. If you're wearing a sock somewhere other than your feet, you're immune to sock attacks.
    p 2. If you have a writing implement behind your ear, you're immune to spoon-based murder.
    p Have fun!
