doctype html
html
  head
    block head
      include partials/templates/head.jade
      include partials/templates/jsdefaults.jade
      // The Lynda.com guy put jsdefaults at the end of the body. Dunno why; guess if I get a problem I'll put it there.
  body
    block header
    block content
