extends on
block content
  h1= title
  if (page_title === 'INFORMATION LEAKED')
    h1 Top Secret information has been leaked to the press. Agent responsible has been terminated for their indiscretion.
  else
    if error === 'key_not_found'
      include partials/content/notfoundproblem.jade
    else if error === 'unknown' 
      include partials/content/unknownproblem.jade
    include partials/content/leakinfoform.jade
