extends layout
block head
  include partials/templates/head.jade
  script(src='/javascripts/jquery-2.1.4.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/slideout.min.js')
  script(src='/javascripts/logscript.js')
block nav
  if game_status === 'on'
      include partials/templates/on_nav.jade
block header
  if game_status === 'on'
    include partials/templates/on_header.jade
  else if game_status === 'over'
    include partials/templates/over_header.jade
block content  
  if (kills.length > 0)
    ul#kills
      each item in kills
          li
            if item.kill_method === 'suicide'
              p.suicide= item.killer + ' committed suicide.'
            else
              p.killer.name= item.killer
              p.killed.flavor killed
              p.victim.name= item.victim
              p.via.flavor via
              p.method= item.kill_method + '.'
  else
    p#nokills No kills have yet occurred. When they do, though, they'll show up here!
