extends off
block content
  h1= title
  if (title === 'Sign-Up')
    if (error === 'name_in_use')
      p#problem Sorry! The name you entered is already in use.
    else if (error === 'email_in_use')
      p#problem Sorry! The email address you entered is already in use.
    else if (error === 'unknown')
      include partials/content/unknownproblem.jade
    else if (error === 'not_an_email')
      include partials/content/notanemailproblem.jade
    h3 Sign up for the next game of Assassins here!
    include partials/content/signupform.jade
  else if (title === 'You Have Signed Up!')
    h3 Thank you! You will receive an email with instructions once the game begins.
