extends layout
block nav
  if (winner_name === null)
    include partials/templates/on_nav.jade
block header
  if (winner_name !== null)
    #header
      .lefty
        a.header-entry(href='/#{game_id}') Home
      .lefty
        a.header-entry(href='/#{game_id}/log') Kill Log
      .righty
        p#status.status= 'the game is: over. ' + winner_name + ' has won!'
  else
    include partials/templates/on_header.jade
block content
  h1= title
  if (page_title === 'Suicide Successful')
    p You have successfully committed suicide.
  else
    if error === 'key_not_found'
      include partials/content/notfoundproblem.jade
    else if error === 'unknown' 
      include partials/content/unknownproblem.jade
    include partials/content/suicideform.jade
