title= title
// Might add a description variable eventually. We'll see.
// Added this meta tag to please Bootstrap CSS
meta(name='viewport',content='width=device-width, initial-scale=1')
link(rel='stylesheet',href='/stylesheets/style.css')
// Might remove the last one. We'll see if I use font awesome.
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css',rel='stylesheet')
