table
  tr
    td
      a(href='/',class='btn btn-default') Home
    // insert conditional: show different links if game is on or off.
    - if (game_on) {
    td
      a(href='/info',class='btn btn-default') Get Target Information
    td
      a(href='/report',class='btn btn-default') Report a Kill
    td
      a(href='/leak',class='btn btn-danger') LEAK INFORMATION
    - } else {
    td
      a(href='/signup',class='btn btn-default') Sign Up For Next Game
    td
      a(href='/unregister',class='btn btn-default') Unregister From Next Game
    - }
