ul#nav-ul
  li.nav-li
    a.nav-entry(href='/#{game_id}/') Home
  li.nav-li
    a.nav-entry(href='/#{game_id}/signup') Sign Up For Next Game
  li.nav-li
    a.nav-entry(href='/#{game_id}/unregister') Unregister From Next Game
  li.nav-li
    p#nav-status the game is: off 

