table
  tr
    td
      a(href='/#{game_id}/',class='btn btn-default') Home
    td
      a(href='/#{game_id}/signup',class='btn btn-default') Sign Up For Next Game
    td
      a(href='/#{game_id}/unregister',class='btn btn-default') Unregister From Next Game
