#header
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/') Home
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/signup') Sign Up For Next Game
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/unregister') Unregister From Next Game
  .righty.menu-bits
    p#status the game is: off
  .righty#menu-hamburger
    p#toggle-button ☰
