table
  tr
    td
      a(href='/#{game_id}/',class='btn btn-default') Home
    td
      a(href='/#{game_id}/info',class='btn btn-default') Get Target Information
    td
      a(href='/#{game_id}/report',class='btn btn-default') Report a Kill
    td
      a(href='/#{game_id}/leak',class='btn btn-danger') LEAK INFORMATION
