form.form-horizontal(action='/',method='post')
  .form-group
    label.col-sm-2.control-label(for='email') Email
    .col-sm-3
      input#email.form-control(type='email',placeholder='you@example.com',name='email',required)
  .form-group
    label.col-sm-2.control-label(for='minimum_player_count') How many players should join before we start the countdown to the game's start?
    .col-sm-3
      input#minimum_player_count.form-control(type='number',name='minimum_player_count',required)
  .form-group
    label.col-sm-2.control-label(for='maximum_player_count') How many players should join before we cut off signups?
    .col-sm-3
      input#maximum_player_count.form-control(type='number',name='maximum_player_count',required)
  .form-group
    label.col-sm-2.control-label(for='countdown_length') How many seconds should the countdown to the game's start be?
    .col-sm-3
      input#countdown_length.form-control(type='number',name='countdown_length',required)
  .form-group
    label.col-sm-2.control-label(for='kill_log') Should we display a live feed of all kills?
    .col-sm-3
      select#kill_log.form-control(name='kill_log')
        option(value='true') Yes
        option(value='false') No
  .form-group
    label.col-sm-2.control-label(for='live_player_count') Should we give an account of how many players are alive at any given time?
    .col-sm-3
      select#kill_log.form-control(name='live_player_count')
        option(value='true') Yes
        option(value='false') No
  .form-group
    label.col-sm-2.control-label Killword Categories
    .col-sm-6
      table
        tr
          td
            label
              input(type='checkbox',name='default',checked)
              | Normal
          td
            label
              input(type='checkbox',name='film')
              | Film
          td
            label
              input(type='checkbox',name='video_games')
              | Video Games
        tr
          td
            label
              input(type='checkbox',name='simple')
              | Simple Words
          td
            label
              input(type='checkbox',name='bible')
              | Bible
          td
            label
              input(type='checkbox',name='america')
              | America
        tr
          td
            label
              input(type='checkbox',name='book')
              | Books
          td
            label
              input(type='checkbox',name='comic_books')
              | Comic Books
          td
            label
              input(type='checkbox',name='music')
              | Music
        tr
          td
            label
              input(type='checkbox',name='web_dev')
              | Web Development
          td
            label
              input(type='checkbox',name='complex')
              | Complex Words
  .form-group
    .col-sm-offset-2.col-sm-3
      input(type='submit',class='btn btn-default',id='submit',value='Submit')
