form.form-horizontal(action='/',method='post')
  .form-group
    label.col-sm-2.control-label(for='email') Email
    .col-sm-2
      input#email.form-control(type='text',placeholder='yourname@example.com',name='email')
  .form-group
    .col-sm-offset-2.col-sm-2
      input(type='submit',class='btn btn-default',value='Submit')
