form.form-inline(action='/#{game_id}/signup',method='post')
  .form-group
    label Name
    input.form-control(type='text',placeholder='John Smith',name='name')
  .form-group
    label Email
    input.form-control(type='text',placeholder='yourname@example.com',name='email')
  input(type='submit',class='btn btn-default',value='Submit')
