form.form-horizontal(action='/#{game_id}/signup',method='post')
  .form-group
    label.col-sm-2.control-label(for='name') Name
    .col-sm-3
      input#name.form-control(type='text',placeholder='John Smith',name='name')
  .form-group
    label.col-sm-2.control-label(for='email') Email
    .col-sm-3
      input#email.form-control(type='email',placeholder='yourname@example.com',name='email')
  .form-group
    .col-sm-offset-2.col-sm-3
      input(type='submit',class='btn btn-default',value='Submit')
