form.form-horizontal(action='/#{game_id}/unregister',method='post')
  .form-group
    label.col-sm-2.control-label(for='unregister_key') Unregistration Key
    .col-sm-2
      input#unregister_key.form-control(type='text',placeholder='1234567890',name='unregister_key',required)
  .form-group
    .col-sm-offset-2.col-sm-2
      input(type='submit',class='btn btn-default',value='Submit')
