form.form-inline(action='/unregister',method='post')
  .form-group
    label Unregistration Key
    input.form-control(type='text',placeholder='1234567890',name='unregister_key')
  input(type='submit',class='btn btn-default',value='Submit')
